<!-- NHS/NHSApp/templates/NHSApp/account.html start -->

<!-- account 화면 -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'NHSApp/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
    </head>
    <div class="container my-3">
        <h2 class="border-bottom py-2">{{account.username}}의 게시글</h2>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/NHSApp' ">
            뒤로 가기
        </button>
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                    <th>조회수</th>
                    <th>추천수</th>
                </tr>
            </thead>
            <tbody>
                {%for post in post_list%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <a href="/NHSApp/{{post.pk}}" style="text-decoration-line:none; color:black">{{post.title}}</a>
                        [{{post.comment_num}}]
                    </td>
                    <td>{{post.pub_date}}</td>
                    <td>{{post.views}}</td>
                    <td>{{post.total_votes}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</html>
{%endblock%}
<!-- NHS/NHSApp/templates/NHSApp/account.html end -->