<!-- NHS/NHSApp/templates/NHSApp/post_board.html start -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'NHSApp/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
    </head>
    <div class="container my-3">
        <h2 class="border-bottom py-2">게시판</h2>
        <div class="nav-item d-flex align-items-center">
            {%if user.is_authenticated%}
            <button type="button" class="btn btn-outline-secondary text-nowrap" onclick="location.href='/NHSApp/upload_post' ">
                글 쓰기
            </button>
            {%endif%}
            <div class="input-group flex-grow-1 text-nowrap">
                <form method="get" action="" class="d-flex">
                    <input type="text" class="form-control" placeholder="글 검색하기" aria-label="Search" aria-describedby="basic-addon1" name="search" value="{{ request.GET.search }}">
                </form>                             
            </div>
        </div>
        <div>
            {%for cat in categories%}
            {%if cat == current_tab%}
            <a href="{% url 'post_board_view' %}?tab={{ cat }}&search={{ request.GET.search }}" class="btn btn-secondary text-nowrap">
                {{ cat }}
            </a>
            {%else%}
            <a href="{% url 'post_board_view' %}?tab={{ cat }}&search={{ request.GET.search }}" class="btn btn-outline-secondary text-nowrap">
                {{ cat }}
            </a>
            {%endif%}
            {%endfor%}
        </div>
        <table class="table">
            <tbody>
                {%for post in n_post_list%}
                <tr>
                    <td>{{post.category}}</td>
                    <td>
                        <a href="/NHSApp/{{post.pk}}" style="text-decoration-line:none; color:black">
                            {{post.title}}
                        </a>
                        [{{post.comment_num}}]
                    </td>
                    <td>
                        <a href="/NHSApp/account/{{post.author.username}}" style="text-decoration-line:none; color:black">
                            {{post.author.username}}
                        </a>
                    </td>
                    <td>{{post.pub_date}}</td>
                    <td>{{post.views}}</td>
                    <td>{{post.total_votes}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                    <th>조회수</th>
                    <th>추천수</th>
                </tr>
            </thead>
            <tbody>
                {%for post in post_list%}
                <tr>
                    <td>{{post.category}}</td>
                    <td>
                        <a href="/NHSApp/{{post.pk}}" style="text-decoration-line:none; color:black">
                            {{post.title}}
                        </a>
                        [{{post.comment_num}}]
                    </td>
                    <td>
                        <a href="/NHSApp/account/{{post.author.username}}" style="text-decoration-line:none; color:black">
                            {{post.author.username}}
                        </a>
                    </td>
                    <td>{{post.pub_date}}</td>
                    <td>{{post.views}}</td>
                    <td>{{post.total_votes}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <!-- <body class="big-font">
        <div>남목 커뮤니티</div>
        {%if user.is_authenticated%}
            <form method="post" action="{%url 'logout_view'%}">
                {%csrf_token%}
                <button type="submit">로그아웃</button>
            </form>
            <div>현재 계정</div>
            <a href="/NHSApp/account/{{user.username}}">{{user.username}}</a>
            {%else%}
            <form method="post" action="{%url 'login_view'%}">
                {%csrf_token%}
                <button type="submit">로그인</button>
            </form>
        {%endif%}
        <hr>
        <div>
            <div class="parent">
                <div class="child">게시글</div>
                <a href="{%url 'upload_post_view'%}" class="child">글 쓰기</a>
            </div>
            {%for post in post_list%}
            <div>
                <a href="/NHSApp/{{post.pk}}">{{post.title}}</a> [{{post.comment_num}}]
            </div>
            <div class="small-font">
                <a href="/NHSApp/account/{{post.author.username}}">{{post.author.username}}</a>
                {{post.pub_date.hour}}:{{post.pub_date.minute}}
                {{post.views}}views
                {{post.total_votes}}likes
            </div>
            {%endfor%}
        </div>
    </body> -->
</html>
{%endblock%}
<!-- NHS/NHSApp/templates/NHSApp/post_board.html end -->