<!-- NHS/NHSApp/templates/NHSApp/write_post.html start -->

<!-- write_post 화면 -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{%url 'upload_post_view'%}">
        {%csrf_token%}
        <div class="input-group mb-3">
            <textarea class="form-control" aria-label="title" name="title" placeholder="글 제목" style="resize: none; width: 100%;" rows="1"></textarea>
            <textarea class="form-control" aria-label="content" name="content" placeholder="글 내용" style="resize: none; width: 100%;" rows="10"></textarea>
            <div class="input-group">
                <select class="form-select" name="category" aria-label="카테고리 설정하기">
                    <option value="general">일반</option>
                    <option value="question">질문</option>
                    {%if user.is_superuser%}
                    <option value="notice">공지</option>
                    {%endif%}
                </select>
            </div>
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary text-nowrap">글 올리기</button>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/dropdown.js' %}"></script>
{%endblock%}
<!-- NHS/NHSApp/templates/NHSApp/write_post.html end -->